@import '../../_variables.scss';


#landing-page{ // Allows the image to fill the entire screen without repeating or any other isses
  background: url('./landing-background.jpg') no-repeat center center fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 70vh;
  
  h2 {
    margin: 0;
    padding-top:3em;
    font-size: 60px;
    color: $font-colour;
    font-family: $permanent-marker;
  }

  h3 {
    color: $font-colour;
    margin-top: 1em;
    font-size: 32px;
    font-family: $permanent-marker;
  }

  text-align: center;

  .down-arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      opacity: 70%; // Colour doesn't work therefore reduced the opacity for a close match
    }
  }

}