@import '../../variables';

#about {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100vh;
  margin: auto;
  padding-top: 3em; // Padding is used instead of margin because the links jump directly at the element and ignores the margin. Therefore the element starts earlier but there is still a gap for the nav

  .summary{
    background-color: $card-color;
    border: .3px solid black;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgb(0,0,0,0.5);
    height: 420px;

    .about-container {
      margin: 2em;
      display: flex;
    }
  }

  h2 {
    font-family: $permanent-marker;
    font-size: 60px;
    color: $font-colour;
  }
  

  img{
    width:350px;
    height: 350px;
    border-radius: 15px;
    object-fit: cover;
    margin-right: 2em;
  }

  p {
    width: 70%;
    font-size: 22px;
    line-height: 1.5em;
    text-align: center;
  }
}