$font-colour : #444444;
$hover-colour : #A45C40;

// Need to import the font family downloaded from google

@font-face {
  font-family: 'Permanent Marker';
  src: url('../../assets/fonts/PermanentMarker-Regular.ttf');
  font-weight: normal;
  font-size: normal;
}

$permanent-marker : 'Permanent Marker';

.Nav-bar {
  width: 100%;
  position: fixed;
  top: 1em;
  display: flex;
  justify-content: end;

  ul {
    margin: 0;

  }

  li {
    display: inline-block;
    padding-right: 1em;
    font-size: 32px;
    color: $font-colour;
    font-family: $permanent-marker;
  }

  a {
    color: $font-colour;
  }

  a:hover {
    color: $hover-colour;
  }

}




