$font-colour : #444444;
$hover-colour : #A45C40;


.Nav-bar {
  width: 100%;
  position: fixed;
  top: 1em;
  display: flex;
  justify-content: end;

  ul {
    margin: 0;

  }

  li {
    display: inline-block;
    padding-right: 1em;
    font-size: 32px;
    color: $font-colour;
  }

  a {
    color: $font-colour;
  }

  a:hover {
    color: $hover-colour;
  }

}




