@import '../../_variables.scss'; // Used to import variables from the variable file


.Nav-bar {
  width: 100%;
  position: fixed;
  top: 1em;
  display: flex;
  justify-content: flex-end;

  ul {
    margin: 0;

  }

  li {
    display: inline-block;
    padding-right: 1em;
    font-size: 32px;
    color: $font-colour;
    font-family: $permanent-marker;
  }

  a {
    color: $font-colour;
  }

  a:hover {
    color: $hover-colour;
  }

}




